<div class="carousel">
    <div class="panes-container">
        <ol class="panes" [ngStyle]="{'left': position, 'width': totalWidth}">
            <li *ngFor="let item of items" [ngStyle]="{'width': itemWidth}">
                <img src="{{item.source}}">
            </li>
        </ol>
        <button class="navigation-arrow left" (click)="moveItem(-1)" title="previous"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        <button class="navigation-arrow right" (click)="moveItem(1)" title="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
    <div class="indicators-container">
        <ol class="indicators">
            <li *ngFor="let item of items ; let i = index" (click)="setItem(i)" [class.active]="i == selectedItem">
                <button><i class="fa fa-circle" aria-hidden="true"></i></button>
            </li>
        </ol>
    </div>
</div>
