/* inspired by 
    https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/
*/

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}

.indicators > li {
    float: left;
    padding: 1rem 0.5rem;
    position: relative;
}

.panes {
    animation: carousel 30s infinite;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;

    transition: left 0.7s;
    transition-timing-function: ease-in-out;
}

.panes > li {
    float: left;
    position: relative;
}