/* inspired by 
    https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/
*/

.carousel {
    overflow: hidden;
    width: 100%;
}

.carousel img {
    display: block;
    max-width: 100%;
    width: 100%;
}

.indicators {
    list-style: none;
    margin: 0;
    padding: 0;
}

.panes {
    animation: carousel 30s infinite;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 500%; /* Number of panes * 100% */
}

.panes > li {
    float: left;
    position: relative;
    width: 20%; /* 100 / number of panes */
}